
.shrink-width {
    max-width: 55rem;
    margin: 0 auto;
}

.about-container {
    max-width: 72rem;
    margin: 0 auto;
    padding: 1em 1em 2em;
    text-align: left;
    line-height: 1.5rem;
}

.about-qa-title {
    margin: 0.725rem 0 0.225rem;
    padding: 0 auto;
}

.about-qa-desc {
    padding: 1rem 0 0.5rem;
}