.documentation-container {
    display: flex;
    margin: 0 10%;
}

.documentation-side-navbar {
    position: sticky;
    top: 0;
    text-align: left;
    width: 25%;
    height: 100vh;
    padding: 25px 50px 0;
    z-index: 100;
}

.documentation-side-list {
    margin: 0;
    padding: 0;
}

.documentation-side-list {
    list-style: none;
    list-style-type: none;
}

.documentation-side-list li a {
    color: #1B9C85;
    text-decoration: none;
    padding-left: 10px;
}

.documentation-side-list li a:hover {
    color: #383847;
}

.doc-content {
    text-align: left;
    flex: 1;
    padding: 25px 5% 0;
}