.json-container {
    border-radius: 5px;
    padding: 0.725rem;
    background-color: #fff;
    border: #0b0b0e9c;
    max-width: 800px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.json-data {
    font-family: monospace;
    text-align: left;
    max-width: 800px;
    max-height: 700px;
    white-space: pre-wrap;
}