.api-view-container {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}
  
.json-viewer {
  border-radius: 2px;
  padding: 1%;
  margin: 1%;
  background-color: #fff;
  border: #0b0b0e9c;
  border-style: solid;
  text-align: left;
  font-size: 14px;
}