.site-header {
    flex: none;
    background-color: #4C4C6D;
}

.header-module-header {
    display: flex;
    margin: 0 auto;
    align-items: stretch;
    height: 3.125rem;
    max-width: 72rem;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    user-select: none;
}
  
.main-nav {
    display: flex;
}

.giga-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    font-size: 1.725rem;
}

.giga-text:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    font-size: 1.725rem;
    color: #1B9C85;
}

.main-nav a {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    text-decoration: none;
    font-size: 1.225rem;
    color: inherit;
}

.main-nav a:hover {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: #383847;
}

.main-nav a:active {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: #383847;
}
  
.main-nav a:visited {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: #383847;
}
  
.header-logo-homelink {
    color: inherit;
    display: flex;
    padding: 0.25em 0.5em;
    height: 90%;
    text-decoration: none;
}